@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
h1{
    font-family: "Dancing Script", cursive;
}
.carousel-item img{
    width: 100%;
    height: 70vh;
}
.art-img img{
    width: 50%;
    height: 60vh;
}

@media (max-width : 576) {
    html{
        font-size: 62.5%;
    }
}